* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}


.checkout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 50px;
  background-color: #ffffff;
 
}


.store-logo{
   width: 180px;
   height: 130px;
}

.middle-side-header {
                     
  display: flex;
  justify-content: center;       
  align-items: center;           
  gap: 8px;                     
}

.checkout-text {
  font-size: 30px;
  font-weight: 600;
  color: #111;
  margin-top: 10px;
}

.checkout-items {
  font-size: 25px;
  color: #ff7a18;
  margin-top: 10px;
}



.checkout-logo {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.store-logo-div{
  width: 200px;
  
}



@media (max-width: 550px) {

  .store-logo{
    width: 140px;
    height: 100px;
    padding-left: 0px;
  }

  .checkout-text {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-top: 10px;
  
}

.checkout-items {
  font-size: 15px;
  color: #ff7a18;
  margin-top: 10px;
}
   

.checkout-header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
}


.left-side-header {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: flex-start;
}

.middle-side-header {
  display: flex;
  flex: 1;
  align-items: center;
  
  
}

.right-side-header {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: flex-end;
}
  
}