* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blank-checkout {
  max-width: 1200px;     
  margin: 0 auto;        
  padding: 0 16px;       
}

.checkout-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 50px;
  background-color: #ffffff;
 
}


.left-section {
  flex: 0 0 auto;
}

.logo {
  width: 200px;
  height: auto;
  padding-bottom: 10px;
  padding-left: 15px;
}


.middle-side-header {
  flex: 1;                      
  display: flex;
  justify-content: center;       
  align-items: center;           
  gap: 8px;                     
}

.checkout-text {
  font-size: 30px;
  font-weight: 600;
  color: #111;
  margin-top: 10px;
}

.checkout-items {
  font-size: 25px;
  color: #ff7a18;
  margin-top: 10px;
}

/* RIGHT */
.right-side-header {
  flex: 0 0 auto;
}

.checkout-logo {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}